/* ./src/tailwind.css */
@tailwind base;
@tailwind components;

table {
  @apply mx-10 mt-10 table-auto border-4 border-black border-separate;
  border-spacing: 0;
}

tbody tr{
  border-width: 1px;
}

/* thead tr{
  @apply border-b-4 border-black bg-gray-300;
} */

table td, table th{
  @apply px-2;
  border-width: 1px;
}

table th{
  @apply sticky top-0 bg-gray-300 border-b-4 border-black;
}

@tailwind utilities;