/* ./src/tailwind.css */
@tailwind base;
@tailwind components;

table {
  @apply mx-10 mt-10 table-auto border-4 border-black border-separate;
  border-spacing: 0;
}

tbody tr{
  border-width: 1px;
}

/* thead tr{
  @apply border-b-4 border-black bg-gray-300;
} */

table td, table th{
  @apply px-2;
  border-width: 1px;
}

table th{
  @apply sticky top-0 bg-gray-300 border-b-4 border-black z-10;
}

.formInput{
  @apply rounded-lg px-3 py-1 border-2 border-black focus:outline-none;
}

.formInputSmall{
  @apply rounded-lg w-12 px-1 border-2 border-black focus:outline-none;
}

.tableTextArea{
  @apply focus:outline-none h-full w-full resize-none border-0;
}

.btn{
  @apply bg-gray-200 rounded-md px-5;
  min-height: 2rem;
}

.importantBtn{
  @apply bg-red-200 rounded-md px-5;
  min-height: 2rem;
}

.doneBtn{
  @apply bg-blue-600 rounded-md px-5 text-white;
  min-height: 2rem;
}

tr:hover td .trashIcon{
  @apply block
}

.tip{
  padding: 10px;
  background: #333;
  color: #fff;
  font-size: 0.75rem;
}

.tip .score{
  @apply text-lg
}

.chartAxis{
  @apply select-none
}

body{
  @apply overflow-hidden;
}


.hideBar::-webkit-scrollbar {
  display: none;
}


.hideBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@tailwind utilities;