/* ./src/tailwind.css */
@tailwind base;
@tailwind components;

table {
  @apply mx-10 mt-10 table-auto border-4 border-black border-separate;
  border-spacing: 0;
}

tbody tr{
  border-width: 1px;
}

/* thead tr{
  @apply border-b-4 border-black bg-gray-300;
} */

table td, table th{
  @apply px-2;
  border-width: 1px;
}

table th{
  @apply sticky top-0 bg-gray-300 border-b-4 border-black;
}

.formInput{
  /* @apply rounded-lg border-2 border-black focus:outline-none; */
  @apply rounded-lg px-5 py-1 border-2 border-black focus:outline-none;
}

.btn{
  @apply bg-gray-200 rounded-md px-5 h-8;
}

@tailwind utilities;